*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #3333;
    display:grid;
    grid-template-rows: 0.5fr 0.1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "... section1 ..."
    "... section2 ..."
    "... section3 ..."
    "... carrusel ...";
}

/* Primer Seccion - Banner */
#section__1{ 
    display: flex;
    grid-area: section1;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 40px 0 10px 0;
}

#section__1 img { 
    position: relative;
    display: inline-block;
    width: 700px;
    height: 200px;
    margin:0;
}

/* Segunda Seccion - Barra de busqueda */

#section__2{
    grid-area: section2;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
}
#buscador{
    background-color: #ffffff;
    position:relative;
    display: inline;
    margin-top: 2rem;
    width: 30rem;
    height: 2rem;
    border-radius: 10px;
    font-style: italic;
    font-family: "Inter", sans-serif;
    font-size: 15px ;
}

#boton{
    background-color: #0000ff;
    position: relative;
    display: inline;
    border-radius: 10px;
    width: 6rem;
    height: 2rem;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin: 10px;
    padding: 0;
}

/* Tercer Seccion - Subtitulo */
#section__3 {
    grid-area: section3;
    color: #ff0099;
    font-family: "Inter", sans-serif;
    font-style:italic;
    text-align: center;
    font-size: 30px;
}

#section__3 h1{
    margin: 100px 0 30px;
}

#carruselContenedor{
    grid-area: carrusel;
    
}

/* FOOTER */

footer{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #000000;
    text-align: center;
    justify-content: space-between;
    padding:0;
}

.pagos {
    background-color: #000;
    position:relative;
    display: inline-block;
    margin: 50px 0;
}
.pagos h3{
    color: #fff;
    background-color: #000;
    text-align:center;
    position:relative;
    display: block;
}
.pagos img{
    background-color: #000;
    position:relative;
    width: 3rem;
    height: 3rem;
}
#derechos{
    color: #fff;
    background-color: #000;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 50px 0;
}
#derechos p{
    color: #fff;
    background-color: #000;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0;
}
#redes {
    background-color: #000;
    text-align:center;
    position:relative;
    display: inline-block;
    margin: 50px 0;
}
#redes h3{
    color: #fff;
    background-color: #000;
    text-align:center;
    position:relative;
    display: block;
}

#redes img{
    background-color: #000; 
    display: inline;
    position: relative;
    text-align: center;
    width: 3rem;
    height: 3rem;
}


/* PAGINA DE CONTACTO */