node_modules
assets/img/Smartphones.gif
assets/img/compras/a04.png
assets/img/compras/a14.png
assets/img/compras/a23.png
assets/img/compras/moto-e22.png
assets/img/compras/moto-e32.png
assets/img/compras/moto-e52.png
assets/img/compras/s23+.png
assets/img/compras/s23ultra.png
assets/img/compras/zfold.png